

/* Start:/bitrix/templates/new_rus/components/bitrix/catalog.section/content3/style.css?1645792379391*/
.news-text {
	overflow: hidden;
	padding-bottom: 16px;
}

.news-text>a>h3 {
	color: #515558;
}

.news-text>a>h3:hover {
	color: #0767A3;
}

.news-img {
width: 150px;
margin-right: 30px;
float: left;
text-align: center;
}

.ya-share2 ul {
	padding: 0px !important;
}
/*
@media (max-width: 768px){
	.news-img{
		text-align: center;
		float: none;
		width: 100%;
		padding-bottom: 4px;
	}
}
*/

/* End */
/* /bitrix/templates/new_rus/components/bitrix/catalog.section/content3/style.css?1645792379391 */
