

/* Start:/bitrix/templates/new_rus/components/bitrix/catalog.element/content/style.css?164579237997*/
.content_text_detail p {
	padding-bottom: 8px;
}

.ya-share2 ul {
	padding: 8px 8px !important;
}
/* End */
/* /bitrix/templates/new_rus/components/bitrix/catalog.element/content/style.css?164579237997 */
